<div class="box">
    <div class="box-header">
        <h3 class="box-title">Manage JsonMessage</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            
                            <tr role="row">
                                <th>Ad Name</th>
                                <th>Message Title</th>
                                <th>Image</th>
                                <th>Url</th>
                                <th>Edit</th>
                                <th>Action</th>
                            </tr>
                     
                        </thead>
                        <tbody>
                            <th:block th:each="message : ${messages}">
                                <tr role="row" class="odd text-center">
                                        <td class="sorting_1" th:text="${message.name}">Webkit</td>
                                        <td th:text="${message.message.attachment.payload.elements[0].title}">Safari 1.2</td>
                                        <td th:text="${message}">OSX.3</td>
                                        <td th:text="${message.message.attachment.payload.elements[0].buttons[0].url}">125.5</td>
                                        <td><a th:href="@{/manage_messages/edit(id=${message.id})}" class="btn btn-primary" href="#" >Edit</a></td>
                                        <td><a th:href="@{/manage_messages/delete(id=${message.id})}" class="btn btn-default">Delete</a></td>
                                        
                                    </tr>
                            </th:block>
                            
                        </tbody>
                       
                    </table>
                </div>
            </div>
           
        </div>
    </div>
    <!-- /.box-body -->
</div>